* {
    margin: 0;
    padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #5ADB94 inset !important;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

input:-webkit-autofill {
  -webkit-text-fill-color: #253D42 !important;
} 

body {
    background-color: #368986;
    display: flex;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.nomeProjet {
    background-color: #5ADB94;
    width: 50vh;
    height: 10vh;
    border-radius: 10px;
    box-shadow: -15px -15px #3EA899;
    color: #253D42;
    font-size: larger;
}

h1 {
    margin-top: 3vh;
    font-size: 30px;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

form {
    color: #253D42;
    background-color: #5ADB94;
    height: 50vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: -15px -15px #3EA899;
}

input {
    width: 55%;
    height: 6vh;
    background: none;
    text-align: center;
    color: #253D42;
    border: none;
    font-size: 30px;
    border-bottom: 3px solid #253D42;
    outline: 0;
}

button {
    width: 55%;
    height: 5vh;
    border-radius: 10px;
    border: none;
    background-color: #3EA899;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: -1px -1px 3px #323232;
}