* {
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #5ADB94 inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #253D42 !important;
} 

body {
  background-color: #368986;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button { 
  cursor: pointer;
}

.areaSolicitacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.listaComponentes {
  overflow: auto;
  height: 60vh;
}

form {
  margin-top: 10%;
  background-color: #5ADB94;
  border-radius: 10px;
  height: 5vh;
  width: 30vw;
  margin-bottom: 8%;
  box-shadow: -8px -8px #3EA899;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar {
  background: none;
  border: none;
  width: 85%;
  height: 40%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  outline: none;
  color: #253D42;;
}

img {
  width: 45%;
  height: 70%;
}

.searchBt {
  background: none;
  width: 10%;
  height: 90%;
  border: none;
}

.dadosComponente {
  display: flex;
}

.nomeComponente, .componente, .unidades {
  background-color: #5ADB94;
  border: none;
  text-align: center;
  font-size: 17px;
  height: 3vh;
  width: 20vw;
  color: #253D42;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 5px;
  outline: none;
}

.nomeComponente, .unidades {
  overflow: auto;
  width: 8vw;
}

.nomeComponentec::-webkit-scrollbar {
  display: none;
}   

.caixaSelecao {
  margin-top: 1px;
  cursor: pointer;
  border: solid white;
  border-radius: 5px;
  width: 22px;
  height: 20px;
  appearance: none;
  background-color: #ccc;
}

.caixaSelecao:checked {
  background-color: #2c85cefd;
}

#loansWindow {
  background-color: #5ADB94;
  box-shadow: -8px -8px #3EA899;
  border-radius: 10px;
  width: 20vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

#loanWindow::-webkit-scrollbar {
  display: none;
}   

.itensEmprestados {
  background-color: #3EA899;
  width: 70%;
  height: 10vh;
  border-radius: 10px;
  color: white;
  margin-top: 5%;
}

.info { 
  margin-left: 5%;
  margin-top: 2%; 
}

.solicitarBt {
  background-color: #3EA899;
  color: white;
  border: none;
  border-radius: 10px;
  width: 35%;
  height: 8%;
  font-size: 20px;
  box-shadow: -1px -1px 10px #323232;
}