<link rel="stylesheet" href="/css/sideBar.css">

<div>
  <button onclick="showSideBar()" class="menuBt">☰</button>

  <ul class="sideBar" style="list-style: none;">
    <li class="itens"><a href="/loans">Gerenciar emprestimos</a></li>
    <li class="itens"><a href="/addComponent">Adicionar componentes</a></li>
    <li class="itens"><a href="/updateComponent">Atualizar componentes</a></li>
    <li class="itens"><a href="/dellComponent">Remover componentes</a></li>
    <li class="itens"><a href="/logout" class="sair">Sair</a></li>
  </ul>
</div>

<script src="/js/sideBar.js"></script>